.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close.close-modal X
        %h3.modal-title Paga con Tarjeta de Credito/Debito
      =form_tag "/payments/cards", method: :post,class:"top-space" do
        .modal-body
          .from-group.top-space
            =email_field_tag :email,nil, class:"form-control floating-label", placeholder:"Correo Eléctrónico", require: "required"
          .from-group.top-space
            =text_field_tag :number,nil, class:"form-control floating-label", placeholder:"Número de Tarjeta", require: "required"
          .from-group.top-space
            %p.be-small Fecha de expiración
            .col-xs-6.col-sm-4.col-md-3.no-padding.inline-block
              =select_tag :expire_month, options_for_select((1..12).to_a),class:"form-control"
            .col-xs-6.col-sm-4.col-md-3.no-padding.inline-block
              =select_tag :expire_year, options_for_select((2014..2030).to_a),class:"form-control"
            .from-group.top-space
              =number_field_tag :cvv2,nil, class:"form-control floating-label", placeholder:"Cvv2(Atras de tarjeta)", require: "required"
        .modal-footer
          =content_tag :button, type: :submit, class: "btn btn-primary" do
            pagar
        %p.top-space.small-text.text-center.peach-text **No guardamos ningúna información de tu tarjeta